*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #f4f4f4;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

header{
    background-color: #ddd;
    margin-bottom: 20px;
    padding: 20px 30px;
    border-bottom: 2px double black;
    text-align: center;
}

header h1{
      color: 222;
      margin-bottom: 10px;
}

header h2{
    margin-bottom: 10px;
    color: #555;
    font-size: bold;
}

header p{
      color: #333;
      font-size: 20px;
}

.container{
      width: 80%;
      border-radius: 1px double darkgrey;
      max-width: 700px;
      background-color: #fff;
      margin: 30px auto;
      border-radius: 15px;
      padding: 40px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.30);
}

form{
    display: block;
}

myForm{
    margin-bottom: 50px;
}

label{
    display: block;
    font-size: 20px;
    font-style: inherit;
    margin-bottom: 10px;
}

input, textarea{
     width: 100%;
     font-size: 20px;
     border-radius: 5px;
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid black;
}

textarea{
    resize: vertical;
    height: 100px;
}

input:focus, textarea:focus{
     box-shadow: 0 0 3px lightsalmon;
     border-color: greenyellow;
}

.submit-button{
     background-color: darkgray;
     margin: 20px auto;
     color: white;
     width: 60%;
     display: block;
     cursor: pointer;
     padding: 15px;
     border: none;
     border-radius: 10px;
    font-size: 20px;
}

.submit-button:hover{
    background-color:#333;
}

footer{
     background-color: darkgray;
     text-align: center;
     padding: 20px;
     margin-top: 30px;
     border-top: 2px solid black;
}

footer h2{
    margin-bottom: 10px;
    font-weight: bold;
}

footer h3{
    margin-bottom: 10px;
    margin-top: auto;
    font-size: normal;
    color: #555;
}

footer p{
      color: #333;
}